<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

    <a href="/">
        <h1 class="app-title">Ask Mate</h1>
    </a>

    <div class="main-content">


        <div class="question-form-container">
            <h1 class="add-question-header">add question</h1>
            <form action="/add-question" method="post">
                <label for="title">Question Title:</label>
                <br />
                <input id="title" name="title" required minlength="5"></input>
                <br />
                <br />
                <label for="message">Message:</label>
                <br />
                <textarea id="message" name="message" rows="4" cols="60"></textarea>
                <br />
                <br />
                <button class="add-story-button" type="submit">add new user story</button>
            </form>
        </div>


    </div>


</body>

</html>