<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

    <a href="/">
        <h1 class="app-title">Ask Mate</h1>
    </a>

    <div class="main-content">

        <div class="sorting-area">
            <form action="/list" method="post">
                <select id="sorting-headers" name="sorting-headers">
                    {% for heading in sorting_headers %}
                    <option value="{{heading}}">{{heading}}</option>
                    {% endfor %}
                </select>
                <select id="sorting-order" name='sorting-order'>
                    <option value="ascending">ascending</option>
                    <option value="descending">descending</option>
                </select>
                <button id="sort" name="sort">sort questions</button>
            </form>
        </div>

        <table class="questions-table">
            <thead>
                <tr class="headers">
                    {% for heading in table_heading %}
                    <td class="heading">{{heading}}</td>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for question in all_questions: %}
                <tr>
                    {% for key, value in question.items(): %}
                    {% if key != "title" %}
                    <td>{{value}}</td>
                    {% else: %}
                    <td style="min-width: 150px"><a class="user-question-link"
                            href="{{url_for('question', question_id=question['id'])}}">{{value}}</a></td>
                    {% endif %}
                    {% endfor%}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="add-question"><a class="add-question-link" href="/add-question">add question</a></div>

    </div>


</body>

</html>