<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

    <a href="/">
        <h1 class="app-title">Ask Mate</h1>
    </a>

    <div class="main-content">

        <h1>{{user_question['title']}}</h1>
        <div>
            <p>Asked on: {{user_question['submission_time']}} | Views: {{user_question['view_number']}} | Votes:
                {{user_question['vote_number']}}</p><a style="margin-right: 20px" href="{{question_id}}/edit">Edit
                Question</a><a href="{{question_id}}/delete">Delete Question</a>
        </div>
        <hr />
        <h3>{{user_question['message']}}</h3>
        </br>
        <h2>The answers for this question:</h2>
        {% if empty == True: %}
        <h3>There is no answer for this question yet.</h3>
        {% else: %}
        {% for answer in user_answers %}
        <h3>{{answer['message']}}</h3>
        {% endfor %}
        {% endif %}

        <button onclick="location.href='/question/{{ question_id }}/new-answer'">POST ANSWER</button>

    </div>

</body>

</html>